<section>
    <div class="row">
        <div class="col-sm text-center">
            <mat-list>
                <h3 mat-subheader>
                    Helper &nbsp;
                    <mat-icon (click)="helper.show();" #helper="matTooltip" matTooltipClass="help-primary" matTooltipPosition="right" matTooltip="Select a help query to generate this automatically in the form" class="pointer">report</mat-icon>
                </h3>
                <mat-list>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString($event.path[0].innerText);">
                                Hi, I like to design a new website for my business.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString($event.path[0].innerText);">
                                Hi, I want to redesign my website to a new one.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString($event.path[0].innerText);">
                                Hi, I would like a professional template for my website.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString($event.path[0].innerText);">
                                Hi, I want to implement an online chat to my site.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString($event.path[0].innerText);">
                                Hi, I want to promote my new website
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString($event.path[0].innerText);">
                                Hi, I would like to know what services are offered.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString($event.path[0].innerText);">
                                Hello, I have questions about your services
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString($event.path[0].innerText);">
                            I just want to say hello
                      </span>
                    </mat-list-item>
                </mat-list>
            </mat-list>
        </div>
    </div>
</section>