<app-menu-ads></app-menu-ads>
<div id="main-wrapper">
    <section class="d-none d-xl-block">
        <div class="container">
            <div class="row">
                <div style="z-index: 1000" class="col-sm text-center">
                    <div class="space-80"></div>
                    <a title="Brand logo" href="https://www.syftedesigns.com/">
                        <img src="./assets/campaign/pages/1920/Logo-03.png" alt="Syfte Brand logo">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="xl-mg">
        <router-outlet></router-outlet>
    </div>
</div>