<!-- Desktop -->
<particles [params]="particles" [style]="ParticleStyle" [width]="width" [height]="height"></particles>
<section class="pt-4 pt-md-11 d-none d-xl-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2 wow slideInRight">
                <img src="./assets/campaign/pages/1920/webdesign-boost.png" class="img-fluid mw-md-150 mw-lg-auto mb-6 mb-md-0 offset-xl-2" alt="How to make a website powerful">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 wow slideInLeft">
                <h1 class="display-3 text-center text-md-left text-white Aquatico-Regular font-30">
                    We are leaders in website design
                </h1>
                <p class="text-center text-md-left  mb-6 mb-lg-8 Aquatico-Regular text-white font-16">
                    Generate more sales with incredible design!
                </p>
                <div class="text-center text-md-left">
                    <form ngNativeValidate (ngSubmit)="PrecreatedEmail(campaignForm);" #campaignForm="ngForm">
                        <div class="form-row">
                            <div class="col-sm">
                                <input ngModel required name="email" type="email" class="form-control LinotteRegular" placeholder="Enter your email address">
                            </div>
                            <div class="col-sm">
                                <button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial" type="submit">
                                  Start a website now!
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="space-30"></div>
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <p class="text-white LinotteLight font-14 font-weight-light">
                                Get in touch with us, we will not ask for any kind of confidential information. When entering your data you agree to receive marketing emails from syfte.
                            </p>
                        </div>
                    </div>
                    <!-- divider -->
                    <div class="space-15"></div>
                    <section class="offset-xl-1" style="border-top: 2px solid white; width: 80%"></section>
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="row">
            <div class="col-sm">
                <div class="row wow slideInUp">
                    <div class="col-sm wow slideInLeft">
                        <img class="offset-xl-1" src="./assets/campaign/pages/1920/webdesign-responsive.png" alt="starting a business with a website">
                    </div>
                </div>
            </div>
            <div style="margin-top: 8%" class="col-sm text-center offset-xl-2 wow slideInUp">
                <div class="space-100"></div>
                <h1 style="font-size: 22px" class="text-white Aquatico-Regular">
                    If your site does not generate the sales you want then it's time to redesign
                </h1>
                <p class="text-white LinotteLight font-16 font-weight-light">
                    Behind an advertising campaign for a company or promotion of a brand is an exhaustive graphic design work that is finally taken to the web, this is where we use all the highlights of a brand and we translate it into an incredible design.
                </p>
            </div>
        </div>
        <!-- end row 2 -->
        <!-- divider trial -->
        <div class="space-80"></div>
        <div class="row wow fadeIn">
            <div class="col-sm text-center offset-xl-3">
                <section class="w-75" style="border-top: 2px solid white;"></section>
            </div>
        </div>
        <div class="space-50"></div>
        <div class="row">
            <div class="col-sm text-center offset-xl-5 wow slideInUp">
                <button (click)="OpenTrial();" style="position: relative; left: -0.5em;" mat-raised-button color="primary" class="btn-block col-5 LinotteRegular btn-trial" type="button">
                        Start a website!
              </button>
            </div>
        </div>
        <!-- end divider -->
        <!-- services -->
        <div class="space-50"></div>
        <div class="row offset-1 wow slideInUp">
            <div class="col-lg-4 col-sm-6">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                          devices
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Responsive Design
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            Our marketing studies show that a large percentage of web traffic comes from a mobile device, which is why we capitalize all of your money and transform it into a dynamic web app with the native effects of a mobile application.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-4 col-sm-6 wow slideInUp">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            memory
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Dynamic Web
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We create powerful websites with real-time support and we include Google Analytics totally free so that you can take charge of your business at all times.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-4 col-sm-6">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            speaker_group
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Online chat
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We implement online support technology in real time on your website, as an additional service. You can add personnel that attend online to the visit on your website or store.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
        <!-- end services -->
    </div>
    <div class="space-50"></div>
    <!--<div class="space-200"></div>-->
    <!-- / .container -->
</section>
<!-- end desktop -->
<!-- tablets -->
<section class="pt-4 pt-md-11 d-none d-md-block d-xl-none">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <a href="https://www.syftedesigns.com" title="Brand logo">
                    <img style="position: relative; left: 0.5em;" src="./assets/campaign/pages/768/logo-03.png" alt="Syfte designs brand logo">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center wow slideInLeft">
                <h1 class="display-3 text-center  text-white Aquatico-Regular font-45">
                    We are leaders in website design
                </h1>
                <p class="text-center mb-6 mb-lg-8 Aquatico-Regular text-white font-16">
                    Generate more sales with incredible design!
                </p>
            </div>
        </div>
        <div class="row offset-md-3 offset-lg-4 form-mg wow slideInUp">
            <form style="position: relative; left: -1em;" ngNativeValidate (ngSubmit)="PrecreatedEmail(campaignFormTablet);" #campaignFormTablet="ngForm">
                <div class="form-row">
                    <div class="col-sm text-center">
                        <input ngModel required name="email" type="email" class="form-control LinotteRegular" placeholder="Email address">
                    </div>
                    <div class="col-sm">
                        <button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial" type="submit">
                                Start a website now!
                      </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="space-30"></div>
        <div class="row">
            <div class="col text-center ">
                <p class="text-white LinotteLight font-14 font-weight-light wow slideInLeft">
                    Get in touch with us, we will not ask for any kind of confidential information. When entering your data you agree to receive marketing emails from syfte.
                </p>
            </div>
        </div>
        <!-- divider -->
        <div class="space-15"></div>
        <section class="offset-md-1 offset-lg-2 border-mg" style="border-top: 2px solid white; width: 80%;"></section>
        <div class="space-80"></div>
        <div class="row">
            <div class="col-12 col-md-7 col-lg-6 wow slideInLeft">
                <h1 style="font-size: 22px" class="display-3 text-center text-md-left text-white Aquatico-Regular font-24">
                    If your site does not generate the sales you want then it's time to redesign
                </h1>
                <p style="font-weight: lighter" class="text-center text-md-left  mb-6 mb-lg-8 LinotteRegular text-white font-16">
                    Behind an advertising campaign for a company or promotion of a brand is an exhaustive graphic design work that is finally taken to the web, this is where we use all the highlights of a brand and we translate it into an incredible design.
                </p>
            </div>
            <div class="col-md wow slideInRight">
                <img class="img-thumbnail phone-tablet" src="./assets/campaign/pages/1920/webdesign-boost.png" alt="Boost your business with a powerful website">
            </div>
        </div>
        <div class="col-md order-md-1 wow slideInUp">
            <img class="img-thumbnail bag-tablet phone-lg-tablet" src="./assets/campaign/pages/1920/webdesign-responsive.png" alt="How to Create Your Own Website responsive">
        </div>
        <div class="space-30"></div>
        <section class="offset-md-1 offset-lg-2 border-mg" style="border-top: 2px solid white; width: 80%;"></section>
        <div class="space-30"></div>
        <div class="col-md-7 col-lg-9 text-center offset-md-4 offset-lg-3 row-btn-mg wow slideInUp">
            <button (click)="OpenTrial();" mat-raised-button color="primary" class="btn-block col-5 LinotteRegular btn-trial btn-trial-mg" type="button">
                    Start a website!
          </button>
        </div>
        <!-- services -->
        <div class="space-70"></div>
        <div class="row wow bounceInUp">
            <div class="col-md-4 col-lg-4">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                          devices
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Responsive Design
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            Our marketing studies show that a large percentage of web traffic comes from a mobile device, which is why we capitalize all of your money and transform it into a dynamic web app with the native effects of a mobile application.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4 col-lg-4">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            memory
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Dynamic Web
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We create powerful websites with real-time support and we include Google Analytics totally free so that you can take charge of your business at all times.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4 col-lg-4">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            speaker_group
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Online chat
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            We implement online support technology in real time on your website, as an additional service. You can add personnel that attend online to the visit on your website or store.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="space-40 d-md-none d-lg-block"></div>
    <div class="space-100 d-lg-none"></div>
</section>
<!-- end tablets -->
<!-- mobile -->
<section class="pt-4 pt-md-11 d-md-none">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="https://www.syftedesigns.com/" title="Go to home">
                    <img src="./assets/campaign/pages/480/logo-03.png" alt="Syfte designs brand logo">
                </a>
            </div>
        </div>
        <div class="row wow slideInLeft">
            <div class="col text-center">
                <h1 class="display-3 text-center  text-white Aquatico-Regular font-30">
                    We are leaders in website design
                </h1>
                <p class="text-center mb-6 mb-lg-8 LinotteLight text-white font-20">
                    Generate more sales with incredible design!
                </p>
            </div>
        </div>
        <!-- form mobile -->
        <div class="row wow slideInUp">
            <form ngNativeValidate (ngSubmit)="PrecreatedEmail(campaignFormResponsive);" #campaignFormResponsive="ngForm" class="form-px-mg offset-1 mobile-mg-sm mobile-mg-xl">
                <div class="col-sm text-center">
                    <mat-form-field class="col-12 form-w" appearance="outline">
                        <mat-label class="LinotteRegular text-white font-20 text-center">Email address</mat-label>
                        <input required name="email" ngModel type="email" class="text-white LinotteRegular" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm text-center">
                    <button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial btn-trial-mg" type="submit">
                            Start a website now!
                  </button>
                </div>
            </form>
        </div>
        <!-- end form mobile -->
        <div class="space-80"></div>
        <div class="row wow slideInLeft">
            <div class="col-12">
                <p class="text-white LinotteRegular font-14 text-center">
                    Get in touch with us, we will not ask for any kind of confidential information. When entering your data you agree to receive marketing emails from syfte.
                </p>
            </div>
        </div>
        <div class="space-30"></div>
        <div class="row wow slideInLeft">
            <div class="col text-center">
                <img class="img-fluid" src="./assets/campaign/pages/1920/webdesign-responsive.png" alt="Create a Stunning website">
            </div>
        </div>
        <div class="space-20"></div>
        <div class="row wow slideInUp">
            <div class="col text-center">
                <h1 style="font-size: 22px" class="display-3 text-center  text-white Aquatico-Regular font-32">
                    If your site does not generate the sales you want then it's time to redesign
                </h1>
                <p style="font-weight: lighter" class="text-center   mb-6 mb-lg-8 LinotteRegular text-white font-16">
                    Behind an advertising campaign for a company or promotion of a brand is an exhaustive graphic design work that is finally taken to the web, this is where we use all the highlights of a brand and we translate it into an incredible design.
                </p>
            </div>
        </div>
        <div class="space-15"></div>
        <div class="row wow slideInLeft">
            <div class="col text-center">
                <section class="offset-1" style="border-top: 2px solid white; width: 80%; position: relative; left: 0.3em;"></section>
            </div>
            <div class="space-20"></div>
            <div style="position: relative; left: 0.7em;" class="col-sm text-center offset-1">
                <button (click)="OpenTrial();" mat-raised-button color="primary" class="btn-block col-10 LinotteRegular btn-trial btn-trial-mg" type="button">
                        Start a website!
              </button>
            </div>
        </div>
        <!-- services -->
        <div class="space-50"></div>
        <div class="col wow slideInLeft">
            <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                <div class="px-4 py-5 text-center">
                    <i class="material-icons font-60 text-white">
                        devices
                    </i>
                </div>
                <div class="px-4 pb-5 text-center">
                    <mat-card-title class="text-white LinotteRegular">
                        Responsive Design
                    </mat-card-title>
                    <mat-card-content class="text-white LinotteLight">
                        Our marketing studies show that a large percentage of web traffic comes from a mobile device, which is why we capitalize all of your money and transform it into a dynamic web app with the native effects of a mobile application.
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div class="space-30"></div>
        <div class="col wow slideInLeft">
            <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                <div class="px-4 py-5 text-center">
                    <i class="material-icons font-60 text-white">
                        memory
                  </i>
                </div>
                <div class="px-4 pb-5 text-center">
                    <mat-card-title class="text-white LinotteRegular">
                        Dynamic Web
                    </mat-card-title>
                    <mat-card-content class="text-white LinotteLight">
                        We create powerful websites with real-time support and we include Google Analytics totally free so that you can take charge of your business at all times.
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div class="space-30"></div>
        <div class="col wow slideInLeft">
            <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                <div class="px-4 py-5 text-center">
                    <i class="material-icons font-60 text-white">
                        directions_boat
                  </i>
                </div>
                <div class="px-4 pb-5 text-center">
                    <mat-card-title class="text-white LinotteRegular">
                        Online chat
                    </mat-card-title>
                    <mat-card-content class="text-white LinotteLight">
                        We implement online support technology in real time on your website, as an additional service. You can add personnel that attend online to the visit on your website or store.
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <!-- end services -->
    </div>
    <div class="space-100"></div>
</section>
<!-- end mobile -->